<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Guia Imper</h2>
  <p>Bem-vindo ao Guia Imper</p>


  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="categoryIndex">
        <ion-option *ngFor="let data of dataService.data; let i = index;" [value]="i">{{data.category}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="categoryIndex !== -1">
      <ion-label>Materials</ion-label>
      <ion-select [(ngModel)]="materialIndex" (ionChange)="getResult()">
        <ion-option *ngFor="let mat of dataService.data[categoryIndex].materials; let i = index;" [value]="i">{{mat.material}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="materialIndex !== -1">
    {{result.regularization}}<hr>
    {{result.process}}
  </div>
</ion-content>